*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.banner img{
    max-width: 100%;
    width: 100%;
    height: 200px;
}

nav{
    line-height: 70px;
    height: 70px;
    background-color: #0059a7;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
}

.navbar li a{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar li:hover{
    background-color: rgb(231, 0, 0);
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 42px;
}

.left{
    width: 30%;
    text-align: center;
}

.left .img{
    margin-bottom: 25px;
    width: 100%;
}

.left .img img{
    width: 70%;
}

.left .img:hover img{
    transform: scale(1.1);
}

.right{
    width: 70%;
}

.right .news-item{
    padding: 0 20px;
    margin-bottom: 30px;
}

.right .news-item p{
    text-align: justify;
}

footer img{
    max-width: 100%;
    width: 100%;
}
